/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #f67280; /* medium pink */
  --ifm-color-primary-dark: #e55a68; /* darker pink */
  --ifm-color-primary-darker: #d44250; /* even darker pink */
  --ifm-color-primary-darkest: #c32a38; /* darkest pink */
  --ifm-color-primary-light: #f88a98; /* lighter pink */
  --ifm-color-primary-lighter: #faa2b0; /* even lighter pink */
  --ifm-color-primary-lightest: #fcbac8; /* lightest pink */
  --ifm-color-black: #000000; /* black */
  --ifm-color-navy: #000080; /* navy blue */
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(246, 114, 128, 0.1); /* pink tint */
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #f67280; /* medium pink */
  --ifm-color-primary-dark: #e55a68; /* darker pink */
  --ifm-color-primary-darker: #d44250; /* even darker pink */
  --ifm-color-primary-darkest: #c32a38; /* darkest pink */
  --ifm-color-primary-light: #f88a98; /* lighter pink */
  --ifm-color-primary-lighter: #faa2b0; /* even lighter pink */
  --ifm-color-primary-lightest: #fcbac8; /* lightest pink */
  --ifm-color-black: #000000; /* black */
  --ifm-color-navy: #000080; /* navy blue */
  --docusaurus-highlighted-code-line-bg: rgba(246, 114, 128, 0.3); /* pink tint */
}
